Source: busybox
Priority: optional
Section: utils
Maintainer: Debian Install System Team <debian-boot@lists.debian.org>
Uploaders: Bastian Blank <waldi@debian.org>, Michael Tokarev <mjt@tls.msk.ru>
Build-Depends: debhelper (>= 9),
# needs for testsuite to run
  zip,
# glibc static-nss #754813, 2.19..2.19-11, -12 is ok. Depend on libc-dev-bin
# as it is the package which is named the same on all architectures
 libc-dev-bin (>> 2.19-12~) | libc-dev-bin (<< 2.19),
Standards-Version: 3.9.5
Vcs-Git: https://anonscm.debian.org/git/d-i/busybox.git
Vcs-Browser: https://anonscm.debian.org/cgit/d-i/busybox.git
Homepage: http://www.busybox.net

Package: busybox-syslogd-wb
Architecture: all
Depends: busybox (>> ${source:Upstream-Version}) | busybox-static (>> ${source:Upstream-Version}), ${misc:Depends}
Provides: linux-kernel-log-daemon, system-log-daemon
Conflicts: linux-kernel-log-daemon, system-log-daemon
Breaks: busybox-syslogd (<< 2:1.22.0-19)
Replaces: busybox-syslogd (<< 2:1.22.0-19)

Description: Provides syslogd and klogd using busybox
 The system log daemon is responsible for providing logging of
 messages received from programs and facilities on the local host as
 well as from remote hosts.
 .
 The kernel log daemon listens to kernel message sources and is
 responsible for prioritizing and processing operating system
 messages.
 .
 The busybox implementation of the syslogd is particular useful on
 embedded, diskless (netboot) or flash disk based systems because it
 can use a fixed size ring buffer for logging instead of saving logs
 to the disk or sending it to remote logging servers. The ring buffer
 can be read using the (also busybox based) command logread.
 .
 This package provides the glue to the busybox syslogd and klogd to be
 used in the system by providing the appropriate symbolic links and
 scripts.

Package: busybox-syslogd
Depends: busybox-syslogd-wb, ${misc:Depends}
Architecture: all
Priority: optional
Section: oldlibs
Description: transitional package - busybox-syslogd-wb instead
 This is a transitional package. It can safely be removed.
