[Unit]
Description=Mosquitto MQTT v3.1/v3.1.1 Broker
After=syslog.target
After=remote-fs.target

[Service]
Type=notify
NotifyAccess=main
ExecStart=/usr/sbin/mosquitto -c /etc/mosquitto/mosquitto.conf
ExecStartPost=/bin/sh -c "echo $MAINPID > /var/run/mosquitto.pid"
Restart=on-failure

[Install]
WantedBy=multi-user.target
